<header class='signup-header'>
<%= link_to root_path do %>
 <i class="fas fa-arrow-left fa-2x"></i>
<% end %> 
 <p class='register-title'>LOGIN</p>
 <p>log in</p>
</header>
<div class="register-container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:'email',class:'full-name' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password",placeholder:'password',class:'full-name' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:'submit-button login' %>
  </div>
<% end %>
</div>
