<header class='signup-header'>
 <%= link_to categories_path do %>
   <i class="fas fa-chevron-left"></i>
 <% end %>
   <p class='register-title'>Category</p>
   <i class="fas fa-search"></i>
</header>
<h1 class='category-item'>Create A new category</h1>
<%= form_with(model:@category,url:categories_path, method: :post,local: true,class:'form-group') do |form| %>
    <div class='form-input'>
    <%= form.label:name, "Category name:", class:"form-label"%>
    <%= form.text_field:name, placeholder:'Food' %>
    </div>
    <div class='form-input'>
    <%= form.label:icon, 'Link of category icon' ,class:"form-description"%>
    <%= form.text_field:icon,placeholder:'https://www.freepik.com/icon/restaurant_685352#fromView=keyword&term=Food&page=1&position=2'  %>
    </div>
    <%= form.submit 'Create category' ,class:"add-link" %>
<% end %>
